# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://diyoywuheudsqqpqnewq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_N3TwiJyR3Uc1AcHFn7KHkw_Ga2oc_FW
# Shopify store URL
NEXT_PUBLIC_SHOPIFY_URL=https://your-store.myshopify.com

# App URL (for OAuth redirects)
NEXT_PUBLIC_APP_URL=http://localhost:3000
